@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar hide (opsional, agar lebih bersih) */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}